<div nxCol="12">
  <div nxRow>
    <nav class="navbar navbar-light bg-dark justify-content-between">
      <a class="font-weight-bold" routerLink="/suggestionMovie">Movie</a>
      <a class="font-weight-bold" routerLink="/movie">Movie List</a>
      <a routerLink="/addMovie" class="nav-link">Add New Movie</a>

      <form class="form-inline">
        <input type="text" [(ngModel)]="title"
               [ngModelOptions]="{standalone:true}"
               placeholder="Enter your search terms"
               class="form-control mr-sm-2"/>
        <button (click)="search()" class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/movie">
          Search
        </button>
      </form>
    </nav>
  </div>
</div>
