<div class="p-3 mb-2 bg-light text-white">
  <div class="col-md-12">

    <nav class="navbar navbar-light bg-dark justify-content-between">
      <a class="navbar-brand" routerLink="/movie">SERAP</a>
      <a class="font-weight-bold" routerLink="/suggestionMovie">Movie</a>
      <a  routerLink="/addMovie" class="nav-link">Add New Movie</a>

      <form class="form-inline">
        <input type="text" [(ngModel)]="title"
               [ngModelOptions]="{standalone:true}"
               placeholder="Enter your search terms"
               class="form-control mr-sm-2"/>
        <button (click)="search()" class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/movie">Search</button>
      </form>
    </nav>
  </div>
</div>
