<div nxCol="12" style="background-color: ; overflow-y: auto; height: 500px">
<div nxRow>
    <div class="component">
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3 style="color: black">HABERLER</h3>
        </div>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let movie of stories">
            <td>
              <button type="button" class="btn btn-primary">{{movie}}</button>
            </td>
          </tr>
          </tbody>
        </table>
      </nav>
    </div>
  </div>
</div>
