<div class="" style="background-color: azure; overflow-y: auto; height: 700px">
  <div class="col-md-12">
    <div class="col-md-auto">
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3 style="color: black">HABERLER</h3>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Title</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let movie of stories">
            <td>
              <button type="button" class="btn btn-primary">{{movie}}</button>
            </td>
          </tr>
          </tbody>
        </table>
      </nav>
    </div>
  </div>
</div>
