<div class="p-3 mb-2 bg-light text-white">

  <div class="col-md-12">

    <table class="table table-striped" border="3" routerLink="/movie">
      <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Type</th>
        <th></th>
      </tr>
      </thead>
      <tbody routerLink="/movie">
      <tr *ngFor="let movie of movies">
        <td>{{movie.Title}}</td>
        <td>{{movie.Year}}</td>
        <td>{{movie.Type}}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(movie)"> Delete Movie</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
